@using Entities.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hakkımda Veri Listesi</h1>
            </div>
        </div>
    </div>
</section>
<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <section class="content">
            <div class="card card-solid">
                @Html.Action("AboutPartial", "About")
            </div>
        </section>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Hakkımda Başlığı</th>
                <th>Aktif Yap</th>
                <th>Pasıf Yap</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AboutId</td>
                    <td>Başlık</td>
                    <td><a href="#" class="btn btn-warning">Aktif Yap</a></td>
                    <td><a href="#" class="btn btn-danger">Pasif Yap</a></td>
                </tr>
            }
        </table>
    </section>
</body>
</html>
